.content-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

/* Sekce pro revize a optimalizace */
/*.revize, .optimalizace {*/
/*    width: 48%;*/
/*    margin-bottom: 2rem; !* Mezera mezi sekcemi *!*/
/*}*/

.revize .image-left, .optimalizace .image-right {
    width: 100%;
}

.revize img, .optimalizace img {
    width: 100%;
    height: auto;
}

/* Textové sekce */
.text-left, .text-right {
    padding: 1rem; /* Padding pro textové sekce */
    font-size: 1rem; /* Velikost písma */
}

