<!DOCTYPE html>
{% load static %}

<html {% if LANGUAGE_CODE %}
            lang="{{ LANGUAGE_CODE }}"
        {% else %}
            lang="en"
        {% endif %}
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Revize OOPP{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
</head>
<body>
<header>
    <div class="left-header"> <!-- Levá část hlavičky -->
        <h1>Revize OOPP</h1> <!-- Hlavní nadpis stránky -->
    </div>
    <div class="center-header"> <!-- Střední část hlavičky pro kontaktní informace -->
        <p>Kontakt: 123 456 789 | email@example.com</p> <!-- Kontaktní údaje -->
    </div>
    <div class="right-header"> <!-- Pravá část hlavičky pro přihlášení -->
        <div class="auth-buttons"> <!-- Sekce pro tlačítka přihlášení a registrace -->
            <!-- Tlačítko pro přihlášení -->
            <button id="login-btn" type="button" onclick="window.location.href='/login/'">Přihlásit se</button>
            <!-- Tlačítko pro registraci -->
            <button id="register-btn" type="button" class="register-btn" onclick="window.location.href='/register/'">Registrovat</button>
        </div>
    </div>
</header>

    <!-- Navbar -->
    {% include 'navbar.html' %}

    <!-- Obsah stránky -->
    <main>
        <div class="container">
    <div class="jumbotron">
        {% block content %}{% endblock %}
    </div>
</div>
    </main>

    <!-- Patička -->
    <footer>
        <p>&copy; 2024 Tvé jméno nebo firma. Všechna práva vyhrazena.</p>
    </footer>
</body>
</html>