<!DOCTYPE html>
{% load static %}
<html {% if LANGUAGE_CODE %} lang="{{ LANGUAGE_CODE }}" {% else %} lang="en" {% endif %}>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Revize OOPP{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/calkulator.css' %}">


</head>
<body>

<header>
    <div class="left-header">
        <h1>Revize OOPP</h1>
    </div>
    <div class="center-header">
        <p>Kontakt: 123 456 789 | email@example.com</p>
    </div>
    <div class="right-header">
        <div class="auth-buttons">
            <button id="login-btn" type="button" onclick="window.location.href='/login/'">Přihlásit se</button>
            <button id="register-btn" type="button" class="register-btn" onclick="window.location.href='/register/'">Registrovat</button>
        </div>
    </div>
</header>

<!-- Navigační lišta -->
<nav class="navbar">
    <button class="navbar-toggler" id="navbarToggler" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="navbar-nav" id="navbarNav">
        <li class="nav-item"><a href="{% url 'home' %}" class="nav-link">Domů</a></li>
        <li class="nav-item"><a href="{% url 'revize' %}" class="nav-link">Revize OOPP</a></li>
        <li class="nav-item"><a href="{% url 'optimalizace' %}" class="nav-link">Optimalizace</a></li>
        <li class="nav-item"><a href="{% url 'kontakt' %}" class="nav-link">Kontakt</a></li>
    </ul>
</nav>

<main>
    {% block content %}{% endblock %}
</main>

<footer>
    <p>&copy; 2024 Tvé jméno nebo firma. Všechna práva vyhrazena.</p>
</footer>

<!-- Skripty stránky -->
<script src="{% static 'js/navbar.js' %}"></script> <!-- Odkaz na externí JS soubor -->
<script>
    console.log("JavaScript načten.");
</script>
</body>
</html>
