{% load static %}
<!DOCTYPE html>
<html {% if LANGUAGE_CODE %} lang="{{ LANGUAGE_CODE }}" {% else %} lang="en" {% endif %}>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Revize OOPP{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
<header>
    <div class="left-header">
        <h1>Revize OOPP</h1>
    </div>
    <div class="center-header">
        <p>Kontakt: 123 456 789 | email@example.com</p>
    </div>
    <div class="right-header">
        <div class="auth-buttons">
            <button id="login-btn" type="button" onclick="window.location.href='/login/'">Přihlásit se</button>
            <button id="register-btn" type="button" class="register-btn" onclick="window.location.href='/register/'">Registrovat</button>
        </div>
    </div>
</header>

<!-- Navigační lišta -->
<nav class="navbar">
    <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Domů</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'revize' %}">Revize OOPP</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'optimalizace' %}">Optimalizace pracovních postupů</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'kontakt' %}">Kontakt</a></li>
    </ul>
</nav>

<main>

</main>

<footer>
    <p>&copy; 2024 Tvé jméno nebo firma. Všechna práva vyhrazena.</p>
</footer>
</body>
</html>
